:root {
	--font: 'Roboto', 'Segoe UI', sans-serif;

	--background: var(--tg-theme-bg-color, var(--background-fallback));
	--background-secondary: var(--tg-theme-secondary-bg-color, var(--background-secondary-fallback));
	--foreground: var(--tg-theme-text-color, var(--foreground-fallback));
	--foreground-subtle: var(--tg-theme-subtitle-text-color, var(--foreground-subtle-fallback));
	--section-header: var(--tg-theme-section-header-text-color, var(--section-header-fallback));
	--accent: var(--tg-theme-accent-text-color, var(--accent-fallback));
	--accent-foreground: var(--tg-theme-button-text-color, var(--accent-foreground-fallback));
	--link: var(--tg-theme-link-color, var(--link-fallback));
	--danger: var(--tg-theme-destructive-text-color, var(--danger-fallback));
	--hint: var(--tg-theme-hint-color, var(--hint-fallback));
	--separator: var(--tg-theme-section-separator-color, var(--separator-fallback));

	--muted: color-mix(in srgb, var(--background), var(--foreground-subtle) 33%);
	
	--success: #31b545;
	--ripple-color: color-mix(in srgb, var(--foreground) 5%, transparent);
	--border-color: rgba(0, 0, 0, 0.1);
	--border-width: 0;

	--font: 'Roboto';
	--font-heading: var(--font);
}

@mixin theme-light {
	color-scheme: light;

	--background-fallback: #FFFFFF;
	--background-secondary-fallback: #F0F0F0;
	--foreground-fallback: #333333;
	--foreground-subtle-fallback: #999999;
	--section-header-fallback: #2C94EC;
	// --accent-fallback: #50A8EB;
	--accent-fallback: #F7A664;
	--accent-foreground-fallback: #FFFFFF;
	--link-fallback: #328AE5;
	--danger-fallback: #CC2929;
	--hint-fallback: #A8A8A8;
	--separator-fallback: #E6E6E6;

	--garden-field-dry: #7a5242;
}

@mixin theme-dark {
	color-scheme: dark;

	--background-fallback: #181819;
	--background-secondary-fallback: #0e0e0e;
	--foreground-fallback: #FFFFFF;
	--foreground-subtle-fallback: #7D7D7D;
	--section-header-fallback: #6CB6F8;
	// --accent-fallback: #50A8EB;
	// TODO
	--accent-fallback: color-mix(in srgb, #D87657, #F7A664);
	--accent-foreground-fallback: #FFFFFF;
	--link-fallback: #57A7E0;
	--danger-fallback: #EE686F;
	--hint-fallback: #999999;
	--separator-fallback: #181819;

	--garden-field-dry: #30221c;
}

html[data-theme="light"] {
	@include theme-light;
}
  
html[data-theme="dark"] {
	@include theme-dark;
}

@media (prefers-color-scheme: light) {
	html:not([data-theme]) {
		@include theme-light;
	}
}

@media (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		@include theme-dark;
	}
}
