:root {
	--font: 'Roboto', 'Segoe UI', sans-serif;

	--background: var(--tg-theme-bg-color, #FFFFFF);
	--background-secondary: var(--tg-theme-secondary-bg-color, #F0F0F0);
	--foreground: var(--tg-theme-text-color, #222222);
	--text: var(--tg-theme-hint-color, #999999);
	--accent: var(--tg-theme-button-color, #50A8EB);
	--accent-foreground: var(--tg-theme-button-text-color, #FFFFFF);
	--link: var(--tg-theme-link-color, #3A95D5);

	--muted: color-mix(in srgb, var(--background), var(--text) 33%);
	
	--danger: #F56058;
	--success: #31b545;
	--ripple-color: rgba(0, 0, 0, 0.05);
	--border-color: rgba(0, 0, 0, 0.1);
	--border-width: 0;
}

body.dark {
	--background: var(--tg-theme-bg-color, #181819);
	--background-secondary: var(--tg-theme-secondary-bg-color, #000000);
	--foreground: var(--tg-theme-text-color, #FFFFFF);
	--text: var(--tg-theme-hint-color, #868686);
	--accent: var(--tg-theme-button-color, #439BDE);
	--accent-foreground: var(--tg-theme-button-text-color, #FFFFFF);
	--link: var(--tg-theme-link-color, #5C9FDE);

	--muted: color-mix(in srgb, var(--background), var(--text) 25%);

	--danger: #F16D66;
	--success: #31b545;
	--ripple-color: rgba(255, 255, 255, 0.05);
	--border-color: rgba(255, 255, 255, 0.025);
}